DB_HOST=localhost
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASS=your_db_password

DB_CONNECT_HOST=127.0.0.1
DB_CONNECT_NAME=your_local_db
DB_CONNECT_USER=your_local_user
DB_CONNECT_PASS=your_local_password

SMTP_ENC_KEY=generate_with_random_bytes_32_chars

APP_DOMAIN=https://yourdomain.com
